name: Build container image
on:
  workflow_dispatch:
  push:
    branches:
      - 'mnetwork'
    tags:
      - '*\+mnetwork*'
  pull_request:
    paths:
      - .github/workflows/build-image.yml
      - Dockerfile
permissions:
  contents: read
  packages: write

jobs:
  build-image:
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
      - uses: hadolint/hadolint-action@v3.1.0
      - uses: docker/setup-qemu-action@v2
      - uses: docker/setup-buildx-action@v2

      - name: Log in to the Github Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        if: github.repository == 'mNetwork-Mastodon/mastodon' && github.event_name != 'pull_request'

      - uses: docker/metadata-action@v4
        id: meta
        with:
          images: ghcr.io/mNetwork-Mastodon/mastodon
          flavor: |
            latest=auto
          tags: |
            type=edge,branch=mnetwork
            type=match,pattern=^v\d+\.\d+\.\d+(?:rc\d+)?\+mnetwork\d+\.\d+
            type=match,pattern=^v\d+\.\d+\.\d+(?:rc\d+)?\+mnetwork\d+
            type=ref,event=tag

      - uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64
          provenance: false
          builder: ${{ steps.buildx.outputs.name }}
          push: ${{ github.repository == 'mNetwork-Mastodon/mastodon' && github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            GITHUB_REPOSITORY=${{ github.repository }}
            # TODO: Find nice way to replace this with variable
            SOURCE_BASE_URL=https://github.com/mNetwork-Mastodon/mastodon
            SOURCE_TAG=${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
